<header id="footer">
    <h1><strong>{{ site.author }}</strong></h1>
    <br>
    <p class="legal"><a href="https://www.phrases.org.uk/quotes/last-words/goethe.html">Mehr Licht!</a></p>
    <p class="legal">{{ site.email }}</p>
    <a href="https://github.com/schen149" target="_blank">
        <i class="fab fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/soshsihao" target="_blank">
        <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
    </a>

</header>
